<form action="/matches/{{ id }}/chat" method="post">
  <label for="email" class="disabled">
    <input type="text" name="email" value="{{ email }}">
  </label>
  <div class="single-match" data-room="{{ email }}">
    <div class="match-content">
      <div class="profile-picture">
        <img src="../../public/media/images/dogs/{{ dogImage }}"
             alt="Profile picture">
      </div>

      <div class="chat-info">
        <h2 class="chat-name">
          {{ dogName }}
        </h2>
        <div class="chat-status">
          {{ chatStatus }}
        </div>
        <div class="last-message">
          {{ lastMessage }}
        </div>

      </div>
    </div>
    <button type="submit">
      <img src="../../public/media/images/arrowdown.svg"
           alt="Go to chat"
           class="chat-button">
    </button>


  </div>
</form>